<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the GRC Diner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/diner-styles.css">
</head>
<body>
    <nav class="nav">
        <a href="breakfast" class="nav-link">Breakfast Menu</a>
    </nav>
    <div class="container text-center my-5">
        <h1>GRC Diner</h1>
        <h3 class="mb-5">Serving the GRC Community since 1990</h3>
        <img class="col-8 rounded mb-3" src="./images/diner.jpg" alt="Diner from fallout">
        <p>We serve the best goop in the universe.</p>
        <a type="button" class="btn btn-primary" href="form-one">Place an Order</a>

    </div>
</body>
</html>